<!-- O nav vai ser utilizado como um mixin -->
<nav class="navbar">
  <div class="navbar__custom-info">
    <img src="../images/logov3.svg" alt="" class="navbar__logo">

    <div class="navbar__btns-container">
      <!-- Customizar de acordo com o status "user logado" -->
      <a href="/signup" class="navbar__btns-container--btn">Sign Up</a>
      <a href="/login" class="navbar__btns-container--btn">Login</a>
    </div>
  </div>

  <div class="navbar__hr-like"></div>

  <form action="/api" method="POST" class="navbar-search"> <!-- Chamada AJAX -->
    <input placeholder="Search projects" type="text" class="navbar-search__input">
    <button class="navbar-search__btn">Search</button>
  </form>
  
</nav>

{{#with user}}
  <div class="user-bg">
    <div class="user-profile__header">
      <div class="user-profile__header--left-container">
        <div class="user-profile__img-bg">
          <img src="{{avatarUrl}}" alt="" class="user-profile__img">
        </div>
        <h3 class="user-profile__username">{{username}}</h3>
      </div>
      

      {{#ifCond username '==' ../currentUser.username}}
        <a href="/profile-edit" class="user-profile__image-edit--btn">Edit profile</a>

        {{!-- <form action="/profile-edit-image" method="POST">
          <label for="imageUrl">Choose an image:</label>
          <input id="imageUrl" name="imageUrl" type="file">
          <button type="submit">Submit</button>
        </form> --}}
      {{/ifCond}}
    </div>

    

    <div class="user__hr-like"></div>

    <div class="user-profile__about">
      <div class="user-profile__about-header">
        <h3 class="user-profile__about-header--title">About</h3>
        {{#ifCond username '==' ../currentUser.username}}
          <img class="user-profile__about-header--edit" src="../images/edit_pencil.svg" alt="Edit pencil">
        {{/ifCond}}
      </div>
      
      <p class="user-profile__about--text">
        {{about}}
      </p>

      <form action="/profile-edit-about" method="POST">
        <textarea class="user-profile__about--textarea no-display" name="about" type="text"></textarea>

        <div class="btn__edit-container no-display">
          <button class="btn__save-update" type="submit">Update</button>
        </div>
      </form>
    </div>

    <div class="user__hr-like"></div>

    <div class="user-profile__projects">
      <div class="user-profile__projects-header">
        <h3 class="user-profile__projects-header--title">Projects</h3>
        {{#ifCond username '==' ../currentUser.username}}
          <img class="user-profile__projects-header--edit" src="../images/plus2.svg" alt="Edit pencil">
        {{/ifCond}}
      </div>

    </div>
  </div>

{{/with}}
