<div class="homepage-bg">

  <div class="homepage-card__container-shadow"></div>
  <div class="homepage-card__container">
    <img class="homepage-card__logo" src="./images/newLogo.svg" alt="Logo IronGarden">
    <h4 class="homepage-card__subtitle">GROWING TOGETHER</h4>

    <form action="/signup" class="homepage-form" method="POST">
      <div class="homepage-form__row">
        <label class="homepage-form__label" for="username">
          <img src="./images/user.svg" alt="User icon" class="homepage-form__label-icon">
        </label>
        <input class="homepage-form__input" type="text" name="username" placeholder="username">
      </div>
      <div class="homepage-form__row">
        <label class="homepage-form__label" for="">
          <img src="./images/locker.svg" alt="User icon" class="homepage-form__label-icon">
        </label>
        <input class="homepage-form__input" type="password" name="password" placeholder="password">
      </div>
      <div class="homepage-form__row">
        <label class="homepage-form__label" for="">
          <img src="./images/locker.svg" alt="User icon" class="homepage-form__label-icon">
        </label>
        <input class="homepage-form__input" type="password" name="password_check" placeholder="repeat password">
      </div>

      {{#if message}}
        <p class="homepage-form__error">{{message}}</p>
      {{/if}}

      <button class="homepage-form__btn" type="submit">Signup</button>

      <p class="homepage-form__question">Já possui uma conta?</p>
      <a href="/" class="homepage-form__signup">Acesse aqui!</a>
    </form>
  </div>
</div>