<div class="homepage-bg">

  <img class="homepage-logo__img" src="./images/logov3.svg"
    alt="Logo made by an exagon and the name IronGarden centered in the middle">

  <div class="homepage-content">
    {{!-- <p class="homepage-description">GROWING TOGETHER</p> --}}
    <div class="logo"><b>G<span>ro</span>wing<span> Toge</span>ther</b></div>

    {{!-- <div class="homepage-icons__container">
      <div class="homepage-icons__card">
        <img src="./images/share-alt-solid.svg" alt="" class="homepage-icons__img">
        <p class="homepage-icons__title">img1</p>
      </div>
      <div class="homepage-icons__card">
        <img src="./images/share-square-regular.svg" alt="" class="homepage-icons__img">
        <p class="homepage-icons__title">img2</p>
      </div>
      <div class="homepage-icons__card">
        <img src="" alt="" class="homepage-icons__img">
        <p class="homepage-icons__title">img3</p>
      </div>
    </div> --}}

    <div class="homepage-btns">
      <a href="/signup" class="homepage-btns__link">Sign Up</a>
      <a href="/login" class="homepage-btns__link">Login</a>
    </div>
    <a href="/feed" class="homepage-btns__link--large">Join as Guest</a>

  </div>
</div>

<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
    </div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')">
    </div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')">
    </div>
  </div>
</div>