* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif;
}

.no-display {
  display: none;
}

.display-block {
  display: block;
}

.hr-like {
  background-color: rgba(80,80,80, .1);
  height: 1px;
  width: 100%;
}

.btn {

  &__save-update {
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(80,80,80,.2);
    padding: .2rem .5rem;
    width: 8rem;
  }
}

.homepage {

  &-bg {
    width: 100vw;
    height: 100vh;
    background-color: #1BCC89;
  }
  

  &-card {
    
    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 75vh;
      width: 85vw;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + .7rem), calc(-50% + .7rem));
        height: 75vh;
        width: 85vw;
        background-color: #3dab74;
      }
    }

    &__logo {
      // margin-top: 1.2rem;
      margin-top: 8%;
      width: 9rem;
      height: 9rem;
    }

    &__subtitle{
      margin-top: 1.5%;
      font-weight: 500;
      font-size: 1.2rem;
      color: #595959;
    }
  }

  &-form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 5%;
      width: 93%;

      &-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 5%;
        width: 93%;
      }
    }

    &__label {
      display: inline-block;
      width: 4rem;
      height: 3.5rem;
      background-color: #3dab74;
      position: relative;

      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 2rem;
      }
    }

    &__input {
      background-color: #eee;
      border: none;
      padding: 1rem 2rem 1rem 1rem;
      width: 95%;
      color: #595959;
      outline: none;

      &::placeholder {
        color: #888;
        font-size: 1.2rem;
      }
    }

    &__reset {
      align-self: stretch;
      text-decoration: none;
      color: #595959;
    }

    &__btn {
      margin-top: 3%;
      font-size: 1.6rem;
      font-weight: 600;
      width: 93%;
      padding: 1.3rem 0;
      border: none;
      background-color: #3dab74;
      color: white;
    }

    &__question {
      margin-top: 8%;
      color: #595959;
      font-size: 1.2rem;
    }

    &__signup {
      margin-top: 2%;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      color: #595959;
    }

    &__error {
      font-size: 1.2rem;
      color: #595959;
      margin: 3% 0;
    }
  }

  
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__hr-like {
    background-color: rgba(80,80,80, .4);
    height: 1px;
    width: 100%;
  }

  &__custom-info {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #ccc;
  }

  &__logo {
    margin: .5rem 0;
    width: 4rem;
    height: 4rem;
  }

  &__btns-container {
    &--btn {
      font-size: 1.2rem;
      width: 6rem;
      padding: .5rem 1rem;
      border-radius: .6rem;
      border: 2px solid white;
      background-color: Transparent;
      margin-left: 1rem;
      text-decoration: none;
      color: #333;
    }
  }

  &-search {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #ccc;

    &__input {
      width: 85%;
      padding: .7rem 2rem;
      border: 2px solid white;
      outline-color: rgb(70, 230, 70);
    }

    &__btn {
      padding: .7rem;
    }
  }
}

.user {
  
  &-bg {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__hr-like {
    height: 1rem;
    background-image: linear-gradient(to bottom, rgba(160,160,160,.2), rgba(160,160,160,0));
  }

  &-profile {

    &__edit-btn {
      text-decoration: none;
      padding: .5rem 1rem;
      color: #333;
      font-size: 1.2rem;
      font-weight: 500;
    }

    &__header {
      width: 100%;
      margin-top: 12rem;
      background-color: #fff;
      padding: 0 1.2rem;
      min-height: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--left-container {
        display: flex;
        align-items: center;
      }
    }
    
    &__img {
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-bg {
        background-color: #fff;
        border-radius: 50%;
        width: 6.5rem;
        height: 6.5rem;
        position: relative;
      }
    }

    &__username {
      margin-left: 1.5rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    
    &__about {
      background-color: #fff;
      width: 100%;
      min-height: 8rem;
      font-size: 1.2rem;
      padding-bottom: 2rem;

      &--textarea {
        margin: 1.5rem auto;
        min-height: 8rem;
        width: 90%;
        font-size: 1.4rem;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        margin: 1rem 2rem 0 2rem;
        align-items: center;

        &--title {
          font-size: 1.4rem;
          font-weight: 400;
        }

        &--edit {
          width: 2rem;
          height: 2rem;
        }
      }

      &--text {
        padding: 2rem;
        text-align: justify;
      }
    }
    
    &__projects {
      background-color: #fff;
      min-height: 12rem;

      &-header {
        display: flex;
        justify-content: space-between;
        margin: 1rem 2rem 0 2rem;
        align-items: center;

        &--title {
          font-size: 1.4rem;
          font-weight: 400;
        }

        &--edit {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}