* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif; }

.no-display {
  display: none; }

.display-block {
  display: block; }

.hr-like {
  background-color: rgba(80, 80, 80, 0.1);
  height: 1px;
  width: 100%; }

.btn__save-update {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(80, 80, 80, 0.2);
  padding: .2rem .5rem;
  width: 8rem; }

.homepage-bg {
  width: 100vw;
  height: 100vh;
  background-color: #1BCC89; }

.homepage-card__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 85vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homepage-card__container-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + .7rem), calc(-50% + .7rem));
    height: 75vh;
    width: 85vw;
    background-color: #3dab74; }

.homepage-card__logo {
  margin-top: 8%;
  width: 9rem;
  height: 9rem; }

.homepage-card__subtitle {
  margin-top: 1.5%;
  font-weight: 500;
  font-size: 1.2rem;
  color: #595959; }

.homepage-form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homepage-form__row {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    width: 93%; }
    .homepage-form__row-reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 5%;
      width: 93%; }
  .homepage-form__label {
    display: inline-block;
    width: 4rem;
    height: 3.5rem;
    background-color: #3dab74;
    position: relative; }
    .homepage-form__label-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2rem;
      height: 2rem; }
  .homepage-form__input {
    background-color: #eee;
    border: none;
    padding: 1rem 2rem 1rem 1rem;
    width: 95%;
    color: #595959;
    outline: none; }
    .homepage-form__input::placeholder {
      color: #888;
      font-size: 1.2rem; }
  .homepage-form__reset {
    align-self: stretch;
    text-decoration: none;
    color: #595959; }
  .homepage-form__btn {
    margin-top: 3%;
    font-size: 1.6rem;
    font-weight: 600;
    width: 93%;
    padding: 1.3rem 0;
    border: none;
    background-color: #3dab74;
    color: white; }
  .homepage-form__question {
    margin-top: 8%;
    color: #595959;
    font-size: 1.2rem; }
  .homepage-form__signup {
    margin-top: 2%;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #595959; }
  .homepage-form__error {
    font-size: 1.2rem;
    color: #595959;
    margin: 3% 0; }

.user-bg {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.user__hr-like {
  height: 1rem;
  background-image: linear-gradient(to bottom, rgba(160, 160, 160, 0.2), rgba(160, 160, 160, 0)); }

.user-profile__edit-btn {
  text-decoration: none;
  padding: .5rem 1rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500; }

.user-profile__header {
  width: 100%;
  margin-top: 12rem;
  background-color: #fff;
  padding: 0 1.2rem;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .user-profile__header--left-container {
    display: flex;
    align-items: center; }

.user-profile__img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .user-profile__img-bg {
    background-color: #fff;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    position: relative; }

.user-profile__username {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400; }

.user-profile__about {
  background-color: #fff;
  width: 100%;
  min-height: 8rem;
  font-size: 1.2rem;
  padding-bottom: 2rem; }
  .user-profile__about--textarea {
    margin: 1.5rem auto;
    min-height: 8rem;
    width: 90%;
    font-size: 1.4rem; }
  .user-profile__about-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0 2rem;
    align-items: center; }
    .user-profile__about-header--title {
      font-size: 1.4rem;
      font-weight: 400; }
    .user-profile__about-header--edit {
      width: 2rem;
      height: 2rem; }
  .user-profile__about--text {
    padding: 2rem;
    text-align: justify; }

.user-profile__projects {
  background-color: #fff;
  min-height: 12rem; }
  .user-profile__projects-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0 2rem;
    align-items: center; }
    .user-profile__projects-header--title {
      font-size: 1.4rem;
      font-weight: 400; }
    .user-profile__projects-header--edit {
      width: 2rem;
      height: 2rem; }

.navbar {
  position: fixed;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1BCC89; }
  .navbar__hr-like {
    background-color: rgba(80, 80, 80, 0.4);
    height: 1px;
    width: 100%; }
  .navbar__custom-info {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem; }
  .navbar__logo {
    margin: .5rem 0;
    width: 4rem;
    height: 4rem; }
  .navbar__btns-container--btn {
    font-size: 1.2rem;
    width: 6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    border: 2px solid white;
    background-color: Transparent;
    margin-left: 1rem;
    text-decoration: none;
    color: #333; }
  .navbar-search {
    display: flex;
    width: 100%;
    padding: 1rem 2rem; }
    .navbar-search__input {
      width: 85%;
      padding: .7rem 2rem;
      border: 2px solid white;
      border-radius: 1rem;
      outline: none; }
    .navbar-search__btn {
      padding: .7rem;
      background-color: white;
      border: 1px solid white;
      border-radius: 1rem;
      margin-left: -18px; }

.cards-container {
  display: flex;
  padding: 10% 20%;
  justify-content: space-around; }
  .cards-container img {
    object-fit: cover;
    object-position: center;
    height: 100px; }

.card {
  width: 80%;
  max-width: 55rem;
  margin: 20px 22px;
  display: inline-block;
  margin-bottom: 1rem; }
  .card-img-top {
    width: 100%;
    height: 356px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px); }

.feed-projects {
  margin-top: 1rem; }
  .feed-projects__container {
    padding: 0 25px; }

.btn-primary {
  background-color: deepskyblue;
  border-color: deepskyblue;
  text-align: center;
  width: 100%; }

.user-bg {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.user__hr-like {
  height: 1rem;
  background-image: linear-gradient(to bottom, rgba(160, 160, 160, 0.2), rgba(160, 160, 160, 0)); }

.user-header {
  width: 100%;
  margin-top: 12rem;
  background-color: #fff;
  padding-left: 1.2rem;
  min-height: 8rem;
  display: flex;
  align-items: center; }

.user-profile__img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .user-profile__img-bg {
    background-color: #fff;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    position: relative; }

.user-profile__username {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400; }

.user-profile__about {
  background-color: #fff;
  width: 100%;
  min-height: 8rem; }
  .user-profile__about-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0 2rem;
    align-items: center; }
    .user-profile__about-header--title {
      font-size: 1.4rem;
      font-weight: 400; }
    .user-profile__about-header--edit {
      width: 2rem;
      height: 2rem; }
  .user-profile__about--text {
    padding: 2rem;
    text-align: justify; }

.user-profile__projects {
  background-color: #fff;
  min-height: 12rem; }

#users-group {
  display: flex;
  background-color: deepskyblue;
  justify-content: space-evenly;
  margin-top: 20rem; }

.feed-users-users {
  width: 10rem;
  height: 10rem; }

.feed-users-users > img {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  margin-top: 5rem; }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14); }
  .slider .slide {
    height: 100px;
    width: 250px; }

@media (max-width: 575.98px) {
  .card-img-top {
    height: 15rem;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px); }
  .card {
    width: auto;
    margin: 0.5rem; }
  .slider {
    width: 100vw; } }

/*# sourceMappingURL=style.css.map */